include ../blocks/header/header.pug
include ../blocks/button/button.pug
include ../blocks/front/front.pug
include ../blocks/item/item.pug
include ../blocks/picture/picture.pug
include ../blocks/review/review.pug
include ../blocks/slider/slider.pug
include ../blocks/form/form.pug
include ../blocks/input/input.pug
include ../blocks/footer/footer.pug
include ../blocks/socials/socials.pug
include ../blocks/logo/logo.pug
